* {
  margin:     0;
  padding:    0; 
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width:        1440px;
  margin-left:  auto;
  margin-right: auto;
}

body.lock {
  overflow: hidden;
}

button {
  transition: 0.2s linear;
}

img {
  display: block;
}

.orange-text {
  color: #E06733;
}

.green-text {
  color: #499A18;
}

@font-face {
  font-family: Inika;
  src:         url("../fonts/Inika/Inika-Regular.ttf");
}

@font-face {
  font-family: Inter;
  src:         url("../fonts/Inter/Inter-VariableFont_slnt\,wght.ttf");
}

@media screen and (min-width: 668px) and (max-width: 768px) {
  body {
    width: 100%;
  }
}

@media screen and (max-width: 668px) {
  body {
    width: 100%;
  }
}